div.y-InfoMsg-JPN {
background-color: #d9f1fb;  /* 背景色の指定 */
border-radius: 3px;       /* 角丸の指定 */
border-color: #00b0da;  /* 枠色の指定 */
}

div.y-InfoMsg-ENG {
background-color: #d9f1fb;  /* 背景色の指定 */
border-radius: 3px;       /* 角丸の指定 */
border-color: #00b0da;  /* 枠色の指定 */
}
